<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Register form</title>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel='stylesheet' href='/stylesheets/style.css' />


</head>

<body>
<div class="wrapper">

	<div class="row login_box">
	    <div class="col-md-12 col-xs-12" align="center">
            <div class="outter"><img src="../images/profile.jpg" class="image-circle"/></div>
	    </div>
        <div class="col-md-12 col-xs-12 login_control">

                <div class="control">

                    <i class="fa fa-user-circle-o" ></i>
										<img src="../images/button.png" / style="width:40px" height:"40px">
                    <input type="text" class="form-control" value="<%= username %>" name="name"/>
                </div>

								<div class="control">

                    <i class="fa fa-user-circle-o" ></i>
										<img src="../images/button.png" / style="width:40px" height:"40px">
                    <input type="text" class="form-control" value="<%= email %>" name="email"/>
                </div>

								<div class="control">

                    <i class="fa fa-user-circle-o" ></i>
										<img src="../images/button.png" / style="width:40px" height:"40px">
                    <input type="text" class="form-control" value="<%= phone %>" name="phone"/>
                </div>


                <div >
                     <button class="btn btn-orange">Log Out</button>

                     <button class="changePassword">Change Password</button>
                </div>

        </div>


    </div>
	</div>



</body>
</html>
