extends layout
block content
	body.skin-red.sidebar-mini(data-id = user_id)
		p(id="user_id"  style="visibility: invisible")=user_id
		div(class="wrapper")
			include main-header
			div.content-wrapper#content
				section.content
					div.row
						div(class="col-md-9")
							div(class="box box-danger")
								div(class="box-header with-border")
									h3(class="box-title") Contacts
								div(class="box-body no-padding box-contacts")
									ul(class="contacts-online")
										- if (contacts.length != 0)
											each c in contacts
												li(style = "cursor : pointer;")
													img(class="contacts-list-img" src="/img/user.png" alt="User Image")
													div(class="contacts-list-info" style="height:40px")
														span(class="contacts-list-name")=c.username


		script(src="/socket.io/socket.io.js")
		script.
			var socket = io.connect('http://188.166.157.62:3000')
			var currentUser = $("#user_id").text()

			$(function (){
				var FriendUser="";

				socket.on('search_user_received', function (msg){
					var target = JSON.parse(msg);
					var element = "";
					target.forEach(function (i){
						element += "<li data-id = '"+i.user_id+"' style = 'cursor : pointer;'>";
						element += "<img class='contacts-list-img' src='/img/user.png' alt='User Image'>";
						element += "<div class='contacts-list-info' style='height:40px'>";
						element += "<span class='contacts-list-name'>"+i.username+"</span>";
						element += "</div></li>";
					});
					$('ul.contacts-online').html(element);
				});


			});