html
	head
		title KChat
		link(rel="stylesheet" href="/themes/AdminLTE/bootstrap/css/bootstrap.min.css")
		link(rel="stylesheet" href="/css/font-awesome.min.css")
		//- link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css")
		link(rel="stylesheet" href="/themes/AdminLTE/dist/css/AdminLTE.min.css")
		link(rel="stylesheet" href="/themes/AdminLTE/dist/css/AdminLTE.min.css")
		//- <!-- AdminLTE Skins. Choose a skin from the css/skins folder instead of downloading all of them to reduce the load. -->
		link(rel="stylesheet" href="/themes/AdminLTE/dist/css/skins/_all-skins.min.css")
		link(rel="stylesheet" type="text/css" href="/css/custom.css")
		script(src="/themes/AdminLTE/plugins/jQuery/jQuery-2.2.0.min.js")
	block content

	//- include ./modal.pug