header(class="main-header")
    //- <!-- Logo -->
    a(href="index.php" class="logo")
        span.logo-mini
            b K
            | CT
        span(class="logo-lg")
            b K
            | Chat
    nav(class="navbar navbar-static-top")
        a(href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button")
            span(class="sr-only") Toggle navigation
aside.main-sidebar
    section.sidebar
        div(class="user-panel")
            div(class="pull-left image")
                img(src="/img/user.png" class="img-circle" alt="User Image")
            div(class="pull-left info")
                p(id="user_id" style="display: none")= user_id
                p#fullname= fullname
                a(href="#")
                    i(class="fa fa-circle text-success")
                    span Online
        ul.sidebar-menu
            li(class="header") MAIN NAVIGATION
            li
                a(href="/")
                    i.fa.fa-dashboard
                    span Dashboard
            li
                a(href="/group")
                    i.fa.fa-user
                    span Group
            li
                a(href="/user/logout")
                    i.fa.fa-key
                    span Logout
