<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Login&amp;Register.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>59334E481E492C8700E91DF3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>59334E5C1E492C8700E91DF3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>59334E671E492C8700E91DF3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
