<html>

  <head>
  </head>
  <body>
    <table>
        <% for(var i=0; i < ans.length; i++) { %>
       <tr>
         <th> <%= ans[i].username %> </th>
         <tr>
         <td> <%= ans[i].name %> </td>
         </tr>
       </tr>
    <% } %>
    </table>
  </body>
<html>
