
/*======================================
    GENERAL STYLES
======================================= */

body {
   font-family:Verdana;
}
.pad-top {
    padding-top:30px;
}
.pad-bottom {
     padding-bottom:30px;
}
/*======================================
    CHAT BOX STYLES
======================================= */

.hr-clas {
    border-top: 1px solid #f32d27;
}

.chat-box-main {
    max-height:500px;
    overflow:auto;
}
.chat-box-div {
    border:2px solid #f32d27;
    border-bottom:2px solid #f32d27;
} 
.chat-box-head {
    padding: 10px 15px;
border-bottom: 2px solid #f32d27;
background-color: #f32d27;
color: #fff;
text-align: center;

}

.chat-box-left {
    width: 100%;
    height: auto;
    padding: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: relative;
    border: 1px solid #f32d27;
    font-size:12px;
}
.chat-box-left:after {
    top: 100%;
    left: 10%;
    border: solid transparent;
    content: " ";
    position: absolute;
    border-top-color: #f32d27;
    border-width: 15px;
    margin-left: -15px;
}

.chat-box-name-left {
    margin-top: 30px;
    margin-left: 60px;
    text-align:left;
    color:#f32d27;
}
    .chat-box-name-left img {
        max-width:40px;
        border: 2px solid #f32d27;
    }

    .chat-box-right {
    width: 100%;
    height: auto;
    padding: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: relative;
    border: 1px solid #f32d27;
    font-size:12px;
}
.chat-box-right:after {
    top: 100%;
    right: 10%;
    border: solid transparent;
    content: " ";
    position: absolute;
    border-top-color: #f32d27;
    border-width: 15px;
    margin-left: -15px;
}

.chat-box-name-right {
    color: #f32d27;
    margin-top: 30px;
    margin-right: 60px;
    text-align:right;
}

.chat-box-name-right img {
        max-width:40px;
        border: 2px solid #f32d27;
    }
.chat-box-footer {
    background-color: #f32d27;
padding: 8px;
}
/*======================================
    CHATS STYLES
======================================= */


.hr-clas-low {
    border-top: 1px solid #f32d27;
}

.chat-box-friend {
     max-height:554px;
    overflow:auto;
}
.chat-box-friend-div {
    border:2px solid #f32d27;
    border-bottom:2px solid #f32d27;
} 

.chat-box-friend-head {
    padding: 10px 15px;
border-bottom: 2px solid #f32d27;
background-color: #f32d27;
color: #fff;
text-align: center;

}

.chat-box-friend-left {
    margin-left: 10px;
    text-align:left;
    color:#000000;
}
    .chat-box-friend-left img {
        max-width:30px;
        border:1px solid #000000;
        margin-bottom:10px;
    }
    .chat-box-friend-right {
    margin-right: 10px;
   text-align:right;
    color:#000000;
}
    .chat-box-friend-right img {
       max-width:30px;
        border:1px solid #000000;
        margin-bottom:10px;
        
    }

    /*======================================
  ONLINE AND FRIENDS  STYLES
======================================= */

.chat-box-new {
     max-height:554px;
    overflow:auto;
}
.chat-box-new-div {
    border:2px solid #f32d27;
    border-bottom:2px solid #f32d27;
} 

.chat-box-new-head {
    padding: 10px 15px;
border-bottom: 2px solid #f32d27;
background-color: #f32d27;
color: #fff;
text-align: center;

}